<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" maxRequestLength="2097151" executionTimeout="120" requestValidationMode="2.0"/>
      
    </system.web>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=PC-20190219UBNL\MSSSQL;Initial Catalog=XSpace.Net;Uid=sa;pwd=123"/>
  </connectionStrings>
</configuration>
